<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
      xmlns="http://www.w3.org/TR/REC-html40">
<head>
    <meta http-equiv=Content-Type content="text/html; charset=iso-8859-1">
    <meta name=Generator content="Microsoft Word 15 (filtered medium)">
    <!--[if !mso]>
    <style>v\: * {
        behavior: url(#default#VML);
    }

    o\: * {
        behavior: url(#default#VML);
    }

    w\: * {
        behavior: url(#default#VML);
    }

    .shape {
        behavior: url(#default#VML);
    }
    </style><![endif]-->
    <style><!--
        /* Font Definitions */
        @font-face {
            font-family: "Cambria Math";
            panose-1: 2 4 5 3 5 4 6 3 2 4;
        }

        @font-face {
            font-family: Calibri;
            panose-1: 2 15 5 2 2 2 4 3 2 4;
        }

        @font-face {
            font-family: "Segoe UI";
            panose-1: 2 11 5 2 4 2 4 2 2 3;
        }

        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            margin: 0cm;
            margin-bottom: .0001pt;
            font-size: 10.0pt;
            font-family: "Arial", sans-serif;
        }

        a:link, span.MsoHyperlink {
            mso-style-priority: 99;
            color: blue;
            text-decoration: underline;
        }

        a:visited, span.MsoHyperlinkFollowed {
            mso-style-priority: 99;
            color: purple;
            text-decoration: underline;
        }

        p.Gras, li.Gras, div.Gras {
            mso-style-name: Gras;
            mso-style-link: "Gras Car";
            margin: 0cm;
            margin-bottom: .0001pt;
            font-size: 10.0pt;
            font-family: "Arial", sans-serif;
            color: #1F415A;
            font-weight: bold;
        }

        span.GrasCar {
            mso-style-name: "Gras Car";
            mso-style-link: Gras;
            font-family: "Arial", sans-serif;
            color: #1F415A;
            font-weight: bold;
        }

        p.msonormal0, li.msonormal0, div.msonormal0 {
            mso-style-name: msonormal;
            mso-margin-top-alt: auto;
            margin-right: 0cm;
            mso-margin-bottom-alt: auto;
            margin-left: 0cm;
            font-size: 11.0pt;
            font-family: "Calibri", sans-serif;
        }

        span.EmailStyle25 {
            mso-style-type: personal;
            font-family: "Arial", sans-serif;
            color: windowtext;
        }

        span.EmailStyle26 {
            mso-style-type: personal;
            font-family: "Arial", sans-serif;
            color: windowtext;
        }

        span.EmailStyle27 {
            mso-style-type: personal;
            font-family: "Arial", sans-serif;
            color: windowtext;
        }

        span.EmailStyle28 {
            mso-style-type: personal;
            font-family: "Arial", sans-serif;
            color: windowtext;
        }

        span.EmailStyle29 {
            mso-style-type: personal;
            font-family: "Arial", sans-serif;
            color: windowtext;
        }

        span.EmailStyle30 {
            mso-style-type: personal;
            font-family: "Arial", sans-serif;
            color: windowtext;
        }

        span.EmailStyle31 {
            mso-style-type: personal;
            font-family: "Arial", sans-serif;
            color: windowtext;
        }

        span.EmailStyle32 {
            mso-style-type: personal-reply;
            font-family: "Arial", sans-serif;
            color: windowtext;
        }

        .MsoChpDefault {
            mso-style-type: export-only;
            font-size: 10.0pt;
        }

        @page WordSection1 {
            size: 612.0pt 792.0pt;
            margin: 72.0pt 72.0pt 72.0pt 72.0pt;
        }

        div.WordSection1 {
            page: WordSection1;
        }

        --></style>
    <!--[if gte mso 9]>
    <xml>
        <o:shapedefaults v:ext="edit" spidmax="1026"/>
    </xml><![endif]--><!--[if gte mso 9]>
    <xml>
        <o:shapelayout v:ext="edit">
            <o:idmap v:ext="edit" data="1"/>
        </o:shapelayout>
    </xml><![endif]--></head>
<body lang=FR link=blue vlink=purple>
<div class=WordSection1>
    <p class=MsoNormal>Bonjour,<span style='font-family:"Calibri",sans-serif'><o:p></o:p></span></p>
    <p class=MsoNormal>
        <o:p>&nbsp;</o:p>
    </p>
    <p class=MsoNormal>Veuillez trouver ci-dessous le compte-rendu des Morning Checks d'aujourd'hui.
        <o:p></o:p>
    </p>
    <p class=MsoNormal>
        <o:p>&nbsp;</o:p>
    </p>
    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=1027
           style='width:770.6pt;margin-left:.1pt;border-collapse:collapse'>
        {#START Entête tableau - THEAD#}
        <tr style='height:15.75pt'>
            <td width=275 nowrap style='width:206.0pt;border:solid #D9D9D9 1.0pt;background:#00A194;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
                <p class=MsoNormal align=center style='text-align:center'>
                    <b>
                        <span style='color:white;text-transform:uppercase'>Types de vérification</span>
                        <span style='color:white'><o:p></o:p></span>
                    </b>
                </p>
            </td>
            <td width=90 nowrap style='width:67.6pt;border:solid #D9D9D9 1.0pt;border-left:none;background:#00A194;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
                <p class=MsoNormal align=center style='text-align:center'>
                    <b><span style='color:white;text-transform:uppercase'>Résultats</span></b>
                    <b><span style='font-size:11.0pt;font-family:"Calibri",sans-serif;color:white'><o:p></o:p></span></b>
                </p>
            </td>
            <td width=663 nowrap style='width:497.0pt;border:solid #D9D9D9 1.0pt;border-left:none;background:#00A194;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
                <p class=MsoNormal align=center style='text-align:center'>
                    <b>
                        <span style='color:white;text-transform:uppercase'>Commentaires</span>
                        <span style='color:white'><o:p></o:p></span>
                    </b>
                </p>
            </td>
        </tr>
        {#END Entête tableau - THEAD#}

        {% for category, datum in checkings %}
            {% set continue = true %}
            {% for checking in datum if checking.status is not null and continue %}
                {% set continue = false %}
            {% endfor %}

            {% if not continue %}
                {#START Category#}
                <tr style='height:26.25pt'>
                    <td width=1027 nowrap colspan=3 style='width:770.6pt;border:solid #D9D9D9 1.0pt;border-top:none;background:#C6D9F1;padding:0cm 3.5pt 0cm 3.5pt;height:26.25pt'>
                        <p class=MsoNormal align=center style='text-align:center'>
                            <b>
                                <span style='color:#1F497D'>{{ category }}<o:p></o:p></span>
                            </b>
                        </p>
                    </td>
                </tr>
                {#END Category#}
            {% endif %}
            {% for checking in datum if checking.status is not null and not continue %}
                {#START Line - TR#}
                <tr style='height:15.75pt'>
                    <td width=275 nowrap style='width:206.0pt; border:solid #D9D9D9 1.0pt;
                    border-top:none;background:#DDE9F7;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
                        <p class=MsoNormal>
                            <b>
                                <span style='color:#1F497D'>{{ checking.name }}<o:p></o:p></span>
                            </b>
                        </p>
                    </td>
                    <td width=90 nowrap style='width:67.6pt;border:solid #D9D9D9 1.0pt;
                    border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
                        <p class=MsoNormal align=center style='text-align:center'>
                            <b>
                                <span style='color:{{ checking.status.color|color_fixer }}'>{{ checking.status.name }}</span>
                            </b>
                        </p>
                    </td>
                    <td width=663 style='width:497.0pt;border-top:none;border-left:none;border-bottom:solid #D9D9D9 1.0pt;
                    border-right:solid #D9D9D9 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
                        <p class=MsoNormal style='mso-margin-top-alt:2.0pt;margin-right:0cm;
                        margin-bottom:2.0pt;margin-left:0cm;text-autospace:none'>
                            <span style='font-family:"Segoe UI",sans-serif'>
                                {{ checking.comment|md2html }}
                            </span>
                        </p>
                        <p>
                            {% if images[checking.id] is defined %}
                                {% for image in images[checking.id] %}
                                    <img src="{{ image }}">
                                {% endfor %}
                            {% endif %}
                        </p>

                    </td>
                </tr>
                {#END Line - TR#}
            {% endfor %}
        {% endfor %}
    </table>
    <p class=MsoNormal>
        <o:p>&nbsp;</o:p>
    </p>
    <p class=MsoNormal><span style='font-size:11.0pt;font-family:"Calibri",sans-serif'>Cordialement</span>
        <o:p></o:p>
    </p>
    <p class=MsoNormal><span style='font-size:11.0pt;color:#888888'>&#8212;<o:p></o:p></span></p>
    <p class=MsoNormal><span style='font-size:5.0pt;color:#0C283C'><o:p>&nbsp;</o:p></span></p>
    <table class=TableGrid border=0 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
        <tr style='height:3.85pt'>
            <td width=95 valign=top style='width:70.9pt;padding:0cm 0cm 0cm 0cm;height:3.85pt'>
                <p class=MsoNormal><span style='font-size:9.0pt;color:#0C283C;mso-fareast-language:FR'>
                    <img width=80 height=80 style='width:.8333in;height:.8333in' id="Image_x0020_1"
                         src="{{ signature }}" alt=LiveXP><o:p></o:p></span>
                </p>
            </td>
            <td width=198 valign=top style='width:148.85pt;padding:0cm 0cm 0cm 0cm;height:3.85pt'>
                <p class=MsoNormal>
                    <b>
                        <span style='font-size:10.0pt;font-family:"Arial",sans-serif;color:#00A295;mso-fareast-language:FR'>{{ app.user.fullname }}</span>
                    </b>
                    <span style='font-size:10.0pt;font-family:"Arial",sans-serif;mso-fareast-language:FR'><br></span>
                </p>
                <p class=MsoNormal>
                    <span lang=EN-US style='font-size:9.0pt;font-family:"Arial",sans-serif;color:#888888;mso-fareast-language:FR'>
                        {{ app.user.email }}
                    </span>
                    <span lang=EN-US style='font-size:9.0pt;color:#0C283C;mso-fareast-language:FR'><o:p></o:p></span></p>
            </td>
        </tr>
    </table>
    <p class=MsoNormal style='margin-top:2.0pt;line-height:150%'>
        <b><span style='font-size:9.0pt;line-height:150%;color:#00A295'>LiveXP</span></b>
        <span style='font-size:9.0pt;line-height:150%;color:#888888'> - 159 rue de Silly, 92100 Boulogne-Billancourt</span>
        <o:p></o:p>
    </p>
    <p class=MsoNormal>
        <o:p>&nbsp;</o:p>
    </p>
    <p class=MsoNormal>
        <o:p>&nbsp;</o:p>
    </p>
</div>
</body>
</html>